[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-redis = "*"
celery = "*"
cryptocompy = "*"
requests = "*"
django-celery-beat = "*"

[dev-packages]

[requires]
python_version = "3.6"
